<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.khfire22gmail.riple"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- TODO Update permissions for Marshmallow http://guides.codepath.com/android/Understanding-App-Permissions#runtime-permissions -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.VIBRATE" />

     <!--<uses-permission android:author="android.Permission.PUBLIC_PROFILE"/> -->
    <application
        android:name=".application.RipleApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:largeHeap="true">
        <activity
            android:name=".activities.TitleActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">

        <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/fb_app_id"/>

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider7286154005287291649797728595501"
            android:exported="true"/>

        <activity
            android:name=".activities.AboutActivity"
            android:label="@string/title_activity_about"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".utils.Logout"
            android:label="@string/title_activity_logout"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activities.CreateDropActivity"
            android:label="@string/title_activity_create_drop"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activities.ViewDropActivity"
            android:label="@string/title_activity_clicked_drop"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activities.ViewUserActivity"
            android:label="@string/title_activity_view_riple"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activities.MessagingActivity"
            android:label="@string/title_activity_messaging">

        </activity>
        <activity
            android:name=".activities.ParseLoginActivity"
            android:label="@string/title_activity_parse_login_activity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/title_activity_edit_profile"
            android:screenOrientation="portrait">
        </activity>

        <service android:name=".utils.MessageService"/>

        <activity android:name=".activities.CompletedActivity"
                  android:screenOrientation="portrait">

        </activity>
        <activity android:name=".activities.CropActivity"
                  android:screenOrientation="portrait">
        </activity>

        <!--<meta-data android:name="com.parse.push.notification_icon" android:resource="@mipmap/ic_launcher"/>-->

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="8e8ad55e1558fcbceb21e4b0e96b059606e55b2f" />
    </application>
</manifest>
