<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.khfire22.riple"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- TODO Update permissions for Marshmallow http://guides.codepath.com/android/Understanding-App-Permissions#runtime-permissions -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission android:name="com.khfire22.riple.permission.C2D_MESSAGE"
                android:protectionLevel="signature" />
    <uses-permission android:name="com.khfire22.riple.permission.C2D_MESSAGE" />


    <application
        android:name="com.khfire22.riple.application.RipleApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_riple_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:largeHeap="true">

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        // Services
        <service android:name="com.khfire22.riple.utils.MessageService"/>
        <service android:name="com.parse.PushService" />
        <!--<service android:name="com.khfire22.riple.utils.GcmIntentService"-->
            android:exported="false"/>

        // GCM Broadcast Receiver
        <receiver
            android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <category android:name="com.khfire22.riple" />
            </intent-filter>
        </receiver>

        // Parse Broadcast Receiver
        <receiver android:name="com.parse.ParseBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>

        // ParsePush Broadcast Receiver
        <receiver
            android:name="com.parse.ParsePushBroadcastReceiver"
            android:exported= "false">
            <intent-filter>
                <action android:name="com.parse.push.intent.RECEIVE" />
                <action android:name="com.parse.push.intent.OPEN" />
                <action android:name="com.parse.push.intent.DELETE" />
            </intent-filter>
        </receiver>

        // Custom Broadcast Receiver
        <receiver
            android:name="com.khfire22.riple.utils.CustomPushBroadcastReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.parse.push.intent.OPEN"/>
                <action android:name="com.parse.push.intent.RECEIVE"/>
            </intent-filter>
        </receiver>

        // Network detector receiver
        <receiver android:name="com.khfire22.riple.utils.NetworkStateChangeReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>

        <activity
            android:name="com.khfire22.riple.activities.TitleActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">

        <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.khfire22.riple.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/fb_app_id"/>

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider7286154005287291649797728595501"
            android:exported="true"/>

        <activity
            android:name="com.khfire22.riple.activities.AboutActivity"
            android:label="@string/title_activity_about"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.khfire22.riple.activities.CreateDropActivity"
            android:label="@string/title_activity_create_drop"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.khfire22.riple.activities.ViewDropActivity"
            android:label="@string/title_activity_clicked_drop"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.khfire22.riple.activities.ViewUserActivity"
            android:label="@string/title_activity_view_riple"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.khfire22.riple.activities.MessagingActivity"
            android:label="@string/title_activity_messaging">

        </activity>
        <activity
            android:name="com.khfire22.riple.activities.ParseLoginActivity"
            android:label="@string/title_activity_parse_login_activity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.khfire22.riple.activities.SettingsActivity"
            android:label="@string/title_activity_edit_profile"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name="com.khfire22.riple.activities.CompletedActivity"
                  android:screenOrientation="portrait">

        </activity>
        <activity android:name="com.khfire22.riple.activities.CropActivity"
                  android:screenOrientation="portrait">
        </activity>

        <!--<meta-data android:name="com.parse.push.notification_icon" android:resource="@drawable/ripleicon2"/>-->

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="8e8ad55e1558fcbceb21e4b0e96b059606e55b2f" />
    </application>
</manifest>
